* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #81D2C7;
}

.container {
    border: 1px solid #e0e0e0;
    margin: 0 auto;
    width: 27%;
    text-align: center;
    margin-top: 30px;
    padding: 10px;
    border-radius: 5px;
    background-color: #E0E0E2;
}

@media screen and (max-width: 1030px) {
    .container {
        width: 100%;
    }
}

@media screen and (max-width: 430px) {
    .container {
        width: 100%;
        /* border: 0; */
    }
}

h2 {
    margin-top: 30px;
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #346794fe;

}

.item {
    margin-top: 30px;
    width: 300px;
    padding: 10px;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serifs;
    border-radius: 5px;
}

.btn {
    margin-top: 20px;
    width: 300px;
    padding: 9px;
    font-size: 18px;
    background-color: #416788;
    color: white;
    border: 1px solid #416788;
}

.list {
    border: 1px solid #416788;
    width: 27%;
    margin: 0 auto;
    padding: 10px;
    font-size: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 30px;
    border-radius: 5px;
    background-color: #416788;
    color: white;

}

@media screen and (max-width: 1030px) {
    .list {
        width: 100%;
        text-align: center;
        width: 50%;
    }
}

@media screen and (max-width: 430px) {
    .list {
        width: 100%;
        border: 0;
    }
}

ul {
    list-style: none;
}

.li{
    width: 80%;
}

.delete-btn {
    border: 1px solid #E0E0E2;
    border-radius: 5px;
    font-size: 18px;
    padding-right: 6px;
    padding-left: 6px;
    margin-left: 270px;
}